<%if params[:respuesta] %>
  <h1><%=params[:respuesta] %></h1>
<%else%>
  <h1>Abuela Sorda</h1>
  <form action="/respuesta" method="post">
    <label for="">Di algo Abuela:</label><br>
    <input type="text" name="frase" value="">
    <input type="submit" name="" value="Dilo">
  </form>
<%end%>
